.wrap{
	margin-left: 50px;

	border-bottom: 1px solid rgba(207, 211, 218, 0.5);
}
.text {
	width: 400px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pad{
	width: 300px;
	justify-content: center;
	padding: 20px;
	font-size: 12px;
	color: #673AB7;
	border-bottom: 3px solid #673AB7;
}

.pad1{
	width: 600px;
	justify-content: center;
	padding: 20px;
	font-size: 12px;
}

.Table2{
	margin-left: 50px;
	margin-top: 34.5px; 
	width: 950px;
	
}

.table2row {
	display: flex;
	flex-direction: row;
	background-color: #F2F2F2;
	height: 60px;
}

.table2row1 {
	display: flex;
	flex-direction: row;
	background-color: white;
	height: 60px;
	border: 1px solid #F2F2F2;
}

.Table2 .a2{
	margin-left: 0px;
	font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.2px;
width: 200px;
}

.b2 , .c2 , .d2, .e2{
	margin-left: 68px;
	font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2px;
width: 110px;
}

.Table2 .b2{
	width: 180px;
} 



.table2row1 .c2 {
 padding: 40px;
}

 .table2row .a2{
	margin-left: 63px;
}

 .table2row1 .a2{
	padding: 30px;
	font-size: 12px;
}

 .radio2 {
width: 15px;
display: flex;
align-items: center;
text-align: center;
padding: 25px;
color: #E0E0E0;
}

.table2row1 .b2{
	margin-top: 15px;
	font-size: 12px;
	padding: 15px;
	height: 30px;
	background: rgba(39, 174, 96, 0.3);
	border: 1px solid #27AE60;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
align-items: center;
text-align: center;
color: #27AE60;
}

#grey {
	background: #F2F2F2;
	color: #BDBDBD;
border: 1px solid #BDBDBD;
}

.e2{
	color: green;
}

#click:hover{
	cursor: pointer;
}